.first {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    margin-right: 30px;
    max-width: 400px;
  }
}
.saturn {
  width: 400px;
}
