.second {
  margin: 200px 0px 300px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boy {
  background-color: $red;
  border-radius: 30px;
  padding: 20px;
}

.text2 {
  color: $black;
  margin-left: 30px;
}
