body {
  width: 65%;
  margin: auto;
  background-image: linear-gradient(to right, $white , $yellow);
  font-family: $body-font;
  height: 1px;
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
}

h1, h2, h3 {
  font-family: $headers-font;
}

img {
  max-width: 100%;
}
