@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
// Borders & Box Shadows

// Colours
$red: #F96256;
$light-blue: #147493;
$yellow: #E7D183;
$green: #30C345;
$black: #0E0000;
$white: #FFF;
$gray: #5A5D7A;
$light-gray: #DFDEE2;

$body-color: $black;
// Spacing
$padding: 0.75rem 1rem;

// Fonts'Comfortaa', cursive;
$body-font: 'Geo', sans-serif;
$headers-font: 'Geo', sans-serif;
// Font-awesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
